#header{
    background: #101C26;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    .header-a{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: white;
    margin-left: 30px;
    }
    .but{
        ai{
        background: #101C26;      
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
        width: 117px;
        height: 50px;
        border: 1px solid white;
        border-radius: 40px;
        }
        button{
            background: #F0E714;      
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: black;
        width: 117px;
        height: 50px;
        border: 1px solid #F0E714;
        border-radius: 40px;
        }
    }
  
}