@import "./2section.css";
@import "./reset.css";
@import "./header.css";
@import "./1section.css";
@import "./3section.css";
@import "./4section.css";
@import "./5section.css";
@import "./6section.css";
@import "./7section.css";
@import "./footer.css";
